body, html{
    margin:0px;
    padding:0px;
}

.container-fluid, .row{
    margin:0px;
    padding:0px;
}

#map{
    height: 100vh;
    width:100%;
    position: fixed;
    opacity: 0.8;
}

/* Set custom fonts */
#content{
    top:0%;
    left:2%;
    right:0%;
    color:rgb(247, 246, 244);
    position:fixed;
    overflow-y: scroll;
    /* background-color: #fafafa80; */
    height: 100vh;
    z-index:3000;
}

section {
    width: 40%;
    padding: 25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}

section:last-child{
    margin-bottom: 200px;
    border-bottom:none;
}

.active{
    opacity: 1;
}

.col-md-8,.col-md-4, col-md-12{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width:12px;
    /* background-color: #2b4e81; */
}

::-webkit-scrollbar-track{
    background-color: white;
    border:1px solid;
    border-color: #fafafa;
}

::-webkit-scrollbar-thumb{
    background-color: #2b4e81;
    border-radius:5px;
    margin:2px;
}

@media screen and (max-width: 768px){
    .container-fluid{
        margin:0%;
        padding:0px;
    }
    #map{
        height:100vh;
        width: 100%;
    }
    #content section{
        width:100%;
    }
}